.body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background-color:white;
    border:2px solid black;
    border-radius: 22px;
    width:94vw;
    margin-left: 55px;
    margin-top: 20px;
}
.heading{
    border: 2px solid black;
    height: 18vh;
    width: 85vw;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 22px;
    box-shadow:5px 10px #9999;
}
.arrow{
    float:left;
    margin-left: 50px;
}
.button{
    float: right;
    margin-top: -65px;
    margin-right: 30px;
    background: black;
    color: white;
    height:5vh;
    width:8vw;
    box-shadow: 5px 10px #9999;
}
.firstbox-content{
    text-align: center;
    margin-right: 150px;
}
.customer-info{
    display: inline-block;
    height: 20vh;
    width: 85vw;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 22px;
    margin-right: 20px;
    box-shadow: 5px 10px #9999;
}
.secondbox-content{
    margin-left:60px;
}
.order-info{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 14px;
    border: 2px solid black;
    height: 20vh;
    width:84vw;
    padding-top: 10px;
    padding-left: 20px;
    background: rgb(241, 241, 241);
    border-radius: 22px;
    box-shadow: 5px 10px #9999;
}
#order1{
    margin-left: 35%;
}
.order-para{
    margin-top:10px;
}
.order-time{
    margin-left: 35%;
}
#time1 {
  
    text-align: right;
}
li{
    margin-top: 10px;
}

.product-list{
    height: 20vh;
    width: 85vw;
    border: 2px solid black;
    margin-left: 40px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 22px;
    box-shadow: 5px 10px #9999;
}
img{
    height:20vh;
    width:25vw;
    border-radius: 22px;
    margin-left: 5px;
    
}
.content-box4{
    float: right;
    height: 14vh;
    width: 48vw;
    margin-bottom: 4pxpx;

}
